.paymentSingleCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    padding: 1rem;
}


.productName {
    text-transform: capitalize;
    font-size: calc(24px / 1.33);
    font-weight: 400;
    line-height: calc(28.64px / 1.33);
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.productName span {
    text-transform: lowercase;
}

.price {
    font-size: calc(24px / 1.33);
    font-weight: 400;
    line-height: calc(28.64px / 1.33);
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.sidesText {
    font-size: calc(20px / 1.33);
    font-weight: 400;
    line-height: calc(23.87px / 1.33);
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.totalPrice {
    font-size: calc(24px / 1.33);
    font-weight: 400;
    line-height: calc(28.64px / 1.33);
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}