.paymentSingleCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    padding: 1rem;
}


.productName {
    text-transform: capitalize;
    font-size: 2vw;
    font-weight: 400;
    line-height: 99%;
}

.productName span {
    text-transform: lowercase;
}


.sidesText {
    font-size: 1.5vw;
    font-weight: 400;
}

.totalPrice {
    font-size: 2vw;
    font-weight: 400;

}

@media (max-width: 801px) {
    .productName, .totalPrice {
        font-size: 3vw;
    }
}

@media (max-width: 465px) {
    .productName, .totalPrice {
        font-size: 4vw;
    }
}