.card {
    padding: 6px;
    border-radius: 16px;
    box-shadow: 0px 2.6px 6.93px -0.87px #3232470D;
    position: relative;
    background-color: white;
    overflow: hidden;
}

.infoBtn {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 17.5px;
    height: 17.5px;
    border-radius:calc(90px / 1.33) ;
    background-color: #0DB5D6;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgWrapper {
    width: 100%;
    margin: 0rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.3rem;
    position: relative;
}

.productImage {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-radius: 10px;

}

.productBtn {
    background-color: inherit;
    font-size: calc(20.7px / 1.33);
    border: none;
}

.productBtnsWrapper{
    position: absolute;
    bottom: 0;
    right: 0;
    height: calc(40px / 1.33);
    display: flex;
    align-items: center;
    border-radius: 16px 0px ;
}

.productQuantity{
    margin: 0 5%;
}

.productNameHeading {
    font-size: 14px;
    font-weight: 400;
    line-height: calc(22px / 1.33);
    letter-spacing: -0.4300000071525574px;
    text-align: left;
    color: #202020;
    white-space: wrap;
}

.productPriceHeading {
    font-size: 14px;
    font-weight: 400;
    color: #202020;

    position: absolute;
    bottom: 6px;
    left: 6px;
  }