.card {
  border-radius: 24px !important;
  box-shadow: 0px 2.96px 5.92px 0px #0000001A;

  position: relative;
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}


.popup {
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  color: #333;
}

.infoBtn {
  position: absolute;
  top: 5.5%;
  right: 4%;
  width: 3vw;
  height: 3vw;
  border-radius: calc(90px / 1.33);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoBtnText {
  font-size: 2vw;
}

.outOfStock {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 9999;
  padding: 1vh;
  border-bottom-right-radius: 2vw;
  font-size: 2vw;
}

.imgWrapper {
  width: 100%;
  min-height: 65%;
  flex-basis: 80%;
  height: 65%;
  margin: 0rem auto;
  display: flex;
  justify-content: center;
  align-items: start;
  position: relative;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.cardInfoWrapper {
  position: relative;
  flex-basis: 33%;
  padding: 0.6vh 2vw;
}

.productBtn {
  background-color: inherit;
  font-size: 3.2vw;
  border: none;
  color: black;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  width: 33.33%;

}

.productBtnsWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 1px 0px;
}

.productQuantity {
  color: black;
  font-size: 2.5vw;
  background-color: white;
  width: 33.33%;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productNameHeading {
  font-family: var(--custom-font);
  font-size: 1.95vw;
  font-weight: 600;
  line-height: 100%;
  text-align: left;
  white-space: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
  width: 80%;
}

.productPriceHeading {
  font-size: 2vw;

  font-weight: 400;
  color: #202020;

  /* position: absolute;
  bottom: 4%;
  left: 9%; */
}

.cardButtonWrapper {
  position: absolute;
  bottom: 2%;
  right: 2%;
  border: 0.37px solid #BBBBBB;
  border-radius: 50px !important;
  box-shadow: 0px 2.43px 6.72px 0px #0000000D;

  font-family: var(--custom-font);
  font-weight: 600;
  /* backdrop-filter: blur(0.5px); */

}

.quantityBtns{
  flex-basis: 33.333%;
  height: 100%;
  border-radius: 50px;
  border: none;
  outline: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.quantityRender{
  font-family: var(--custom-font);
  font-size: 2.3vw;
  font-weight: 700;
}

@media (max-width: 801px) {
  /* .productNameHeading {
    font-size: 2.4vw;
    line-height: 100%;
      font-weight: 600;
      margin-top: 1.5vh;
      
      margin-left: 0.8vw;
      width: 80%;
    
  } */
  .productPriceHeading {
    font-size: 2.5vw;
    left: 5%;

  }

  .imgWrapper {
    width: 100%;
    height: 84px;
  }

  .card {
    border-radius: 16px;
    position: relative;
    background-color: white;
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  .imgWrapper {
    width: 100%;
    height: 84px;
  }

  .productNameHeading {
    font-size: 2.4vw;
    line-height: 100%;
    margin-top: 1.4vh;
  }


  .productPriceHeading {
    font-size: 2.5vw;
    left: 7%;

  }

  .productQuantity {
    font-size: 3vw;
    font-weight: 600;
  }
}

@media (max-width: 425px) {
  .productNameHeading {
    font-size: 4.5vw;
  }

  .productPriceHeading {
    font-size: 4.1vw;
  }

  .outOfStock {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 9999;
    padding: 1vh;
    border-bottom-right-radius: 2vw;
    font-size: 4vw;
  }

  .productQuantity {
    font-size: 5vw;
  }

  .infoBtn {

    width: 6vw;
    height: 6vw;
  }

  .infoBtnText {
    font-size: 3.5vw;
  }
}