.logoWrapper {
    width: 100%;
    /* height: calc(230px / 1.33); */
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    background-color: gray;
}

.restName {
    /* font-size: calc(50px / 1.33); */
    font-size: 5vw;
    font-weight: 400;
    margin-top: 4vh;
    /* line-height: calc(59.67px / 1.33); */
    line-height: 90%;
    letter-spacing: 0.01em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.langViewMenuOptionsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 5vh auto ;
    gap: 3vw;
}

.langMenuBtn {
    background-color: inherit;
    border-radius: 12.8px;
    border: 0.70px solid #d3d3d399;
    box-shadow: 0px 10px 20px 5px #0000000D;
    font-weight: 400;
    font-size: 5vw;
    color: black;
    line-height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
    width: 40%;
    height: 28vh;

}

.menuOptionsText {
    /* font-size: calc(40px / 1.33); */
    font-size: 5vw;
    font-weight: 400;
    text-align: center;
    margin-top: 1.3vh;
}

.langSelectWrapper{
    width: 70%; 
    margin: 8vh auto;
    text-align: center
}


@media (max-width: 425px){

    .logoWrapper{
        height: 12vh;
    }

    .restName{
        font-size: 7vw;
    }

    .langViewMenuOptionsWrapper{
        margin: 5vh auto 2vh;
    }

    .langSelectWrapper{
        margin: 2.5rem auto; 
    }
    .menuOptionsText{
        font-size:6vw;
    }

    .langMenuBtn {
        width: 48%;
    }
}