.checkMarkWrapper {
  padding-top: 12vh !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.checkMark {
  width: 93.1px;
  height: 93.1px;
  gap: 0px;
  opacity: 0px;
  border-radius: 30rem;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4vh;
}

.subTitle {
  font-size: 3vw;
  font-weight: 400;
  letter-spacing: 0.01em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 2rem;
}

.orderNoWrapper {
  width: 90%;
  height: 25vh;
  border-radius: 15.25px;
  border: 1.27px solid #00000065;
  box-shadow: 0px 25.41px 63.53px 0px #00000014;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem auto 20vh;

  background-color: white;

}

.orderNOTitle{
  font-size: 2.4vw;
  font-weight: 500;
  text-align: center;
  font-family: var(--custom-font);
  letter-spacing: -1px;
  text-transform: uppercase;
}

.orderNO {
  font-size: 12vw;
  font-weight: 600;
  text-align: center;
  font-family: var(--custom-font);
  letter-spacing: -1px;
}

.form{
  margin: 400px 0;
}

.formLabel{
  font-size: 3vw;
}

@media(max-width: 800px){
  .orderNoWrapper {
    margin: 1rem auto 13vh;
  }
}

@media(max-width: 480px){
  .orderNoWrapper {
    margin: 1rem auto 4vh;
    height: 20vh;
  }
}