.categoryCard {
  max-height: 77px;
  height: 10vh;
  max-width: 220px;
  width: 100%;
  padding: 3%;

  background-color: #ffffff;
  border: none;
  box-shadow: 0px 3.77px 18.85px 0px #0000001a;
  border-radius: calc(8px / 1.33);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.categoryCard:not(:last-child) {
  margin-bottom: 1vh;
}

.image {
  width: 4vw;
  height: 35%;
  padding: 3% 0;
}

.categoryCardText {
  font-size: 2vw;
  width: 100%;
  margin: 0 auto;
  text-transform: capitalize;
  font-weight: 400;
  line-height: 99%;
  text-align: center;
  white-space: normal;
  overflow: hidden;
  padding: 0.3rem 0;
}

/* .movingText {
  white-space: nowrap; 
  overflow: hidden; 
  display: inline-block;
  position: relative;
  animation: moveLeft 5s linear infinite;
}

@keyframes moveLeft {
  0% {
    transform: translateX(100%); 
  }
  100% {
    transform: translateX(-100%); 
  }
} */

@media (max-width: 810px) {

  .categoryCard {
    height: 7.5%;
  }

  .categoryCardText {
    font-size: 2.5vw;
  }
}

@media (max-width: 768px) {

  .categoryCard {
    height: 8%;
  }

  .categoryCardText {
    font-size: 2.5vw;
  }
}


@media (max-width: 425px) {
  .categoryCard {
    height: 70px;
    width: 100%;
  }

  .categoryCardText {
    font-size: 2.8vw;
  }

  .image {
    width: 40%;
    height: 35%;
  }
}