.orderViewMidSection {
  padding-top: 8vh !important;
  width: 100%;
  background-color: #EFEFEF;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  padding: 0 20px 0 25px;
  justify-content: space-between;
  /* gap: 2%; */

}

.orderViewSidebar {
  width: 20%;
  /* height: 100%; */
  overflow-y: auto;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-top: 20px !important;
  /* padding-left: 2% !important; */
  padding-right: 1% !important;
  /* padding-bottom: 600px; */
}

.orderViewRightSide {
  width: auto;
  min-width: 75%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.promoBanner {
  width: 95%;
  height: 170px;
  border: 2px solid red;
  margin-left: 1.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.bottomRibbonContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  margin: 0 auto;
  padding: 4% 40px !important;
  border-radius: calc(50px / 1.33);
}

.ribbonContentWrapper {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
}



.categoryCard {
  /* max-height: 120px; */
  height: 11.3vh !important;
  max-width: 220px;
  width: 100%;

  background-color: #ffffff;
  /* box-shadow: 0px 3.77px 18.85px 0px #0000001a; */
  border-radius: 16px;
  display: flex !important;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;


  box-shadow: 0px 2.94px 8.23px 0px #3131311A;
  
}

.categoryCardText {
  position: absolute;
  bottom: 10%;
  left: 8%;
  font-size: 2.4vw;
  letter-spacing: -0.7px;
  font-family: var(--custom-font);
  font-weight: 600;
  text-transform: capitalize;
  display: inline-block;

  overflow: hidden;
  /* border: 2px solid red; */
  max-width: 70%;

}

.image {
  position: absolute;
  top: 13%;
  right: 10%;
}

.absoluteChevron{
  position: absolute;
  right: 12%;
  bottom: 6%;
}


@media (max-width: 800px) {
  .orderViewSidebar {
    padding-top: 4%;
    width: 25%;
  }

  .orderViewMidSection {
    gap: 0.2%;
  }

  /* .categoryCard {
    max-height: 120px;
    height: 7.2vh !important;
  } */
}

@media (max-width: 768px) {
  .promoBanner {
    height: 160px;
  }

  .categoryCard {
    max-height: 120px;
    /* height: 11.8vh !important; */
  }

}

@media (max-width: 425px) {
  .orderViewLogoWrapperTop {
    height: 10%;
  }

  .orderViewSidebar {
    width: 30%;
  }

  .orderViewRightSide {
    min-width: 70%;
  }

  .ribbonTextStyles {
    font-size: 5vw;
    line-height: 99%;
  }

  .ribbonContentWrapper svg {
    width: 20px;
  }

  .categoryCard {
    max-height: 120px;
    height: 7.4vh !important;
    padding: 2rem;
  }

  .image {
    width: 40px;
    height: 40px;
  }

  .categoryCardText {
    font-size: 3.4vw;
  }

}