.plus{
    width: 20px;
    height: 20px;

}

.checkmark{
    width: 30px;

    height: 1.5vh;
}


@media(max-width: 800px){

    .plus{
        width: 14px;
        height: 14px;
    }
    
    .checkmark{
        width: 14px;
        height: 18px;
    }

}