.mealInfoWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    gap: 1vh;

    position: relative;
    height: 100%;
}

.image{
    flex-basis:70%;

    width: 100%;

    border-radius: 16px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px -10px 40px 0px #F6F6F6;

}

.titleQuantityWrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    flex-basis:10%;

}

.titlePriceWraper{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-basis: 70%;
}

.btns{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 40%;
}

.mealName{

    font-family: var(--custom-font);
    font-size: 4.5vw;
    font-weight: 600;
}

.desc{
    font-family: var(--custom-font);
    font-size: 3vw;
    color: #252424;
    letter-spacing: -0.5px;
    line-height: 2.4vh;
    font-weight: 300;
    flex-basis:30%;

    overflow-y: scroll;
}


.btnsWrapper{
    width: 100%;
    min-height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3%;
    

    position: absolute;
    bottom: 10px;
}

.barsWrapper{
    width: 100%;
    flex-basis: 5%;
}

.alergensWrapper{
    flex-basis: 55%;

}