.paymentErrorScreen{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.btn{
    padding: 3.5vw;
    border-radius: 50px;
    border: none;
    width: 95%;
    margin: 0 auto;
    position: fixed;
    bottom: 10px;
}

.oops{
    font-family: var(--custom-font-3);
    font-size: 9vw !important;
    letter-spacing: -0.5px;
    line-height: 85%;
    font-weight: 700;
}

.message{
    font-family: var(--custom-font-3);
    font-size: 6vw !important;
    letter-spacing: -0.5px;
    line-height: 85%;
    /* font-weight: 700; */
    text-align: center;
    width: 60%;
    margin: 0 auto;
}