.startScreen {
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.startScreenOverlay {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  position: relative;
}

.title {
  font-size: 5vw;
  text-align: center !important;
  font-weight: 700;
}

.logoWrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
