.checkoutCardWrapper {
  width: 100%;
  height: calc(100% - 20vh);
  margin: 0 auto;
  padding: 2% 2.5% 3%;
  overflow-y: scroll;
  margin-bottom: 10px;
}

.checkoutCardWrapper::-webkit-scrollbar {
  display: none;
}

.checkoutCardWrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


@media only screen and (max-width: 468px) {
  .checkoutCardWrapper {
    max-height: 78vh;
  }
}
