.checkoutCardWrapper {
  width: 100%;
  height: calc(100% - 16vh);
  margin: 0 auto;
  padding: 2% 2.5% 3%;
  overflow-y: scroll;
  margin-bottom: 10px;
}

.titleWrapper{
  width: 95%;
  margin:  0 auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.total{
  border: 2px solid;
  padding: 1vw;
  border-radius: 5px;
  min-width: 25vw;
  text-align: center;
}

.checkoutCardWrapper::-webkit-scrollbar {
  display: none;
}

.checkoutCardWrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


@media only screen and (max-width: 468px) {
  .checkoutCardWrapper {
    max-height: 78vh;
  }


  .titleWrapper{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
