.checkoutCardNoteInputWrapper{
    margin-bottom: 0.6rem;
}

.checkoutCard {
    max-height: 250px;
    height: 17vh;

    max-width: 100%;
    border-radius: 14px;
    border: 1px solid #D9D9D9;
    opacity: 0px;
    box-shadow: 1px 1px 10px 2px #0000001A;
    margin-bottom: 1vh;

    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 2vw;
    padding: 8px;
}

.checkoutCardPicture {
    border-radius: 9px;
    width: 25vw;
    height: 100%;
}

.checkoutCardActionBtnsWrapper {
    position: absolute;
    top: 5%;
    right: 2%;
    border-radius: 14.8px;
}

.checkoutCardActionBtnsWrapper button {
    background-color: inherit;
    border: none;
}

.checkoutCardActionBtnsWrapper button:first-child {
    margin-right: 25px;
}

.checkoutCardInfoWrapper {
    flex-basis: 60%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 0.5rem 0;
    position: relative;
}

.checkoutCardMealName {
    font-size: 3vw;
    font-weight: 400;
    line-height: 99%;
}

.checkoutCardExtrasText {
    font-size: 2vw;
    font-weight: 300;
    line-height: 99%;
    letter-spacing: -0.25999999046325684px;
    color: #5A5A5A;
}

.mealInfoWrapper p {
    text-transform: capitalize;
    margin: 0.5vh 0;

}

.mealInfoWrapper p:not(:last-child) {
    margin-bottom: 0.4rem;
}

.checkoutCard .checkoutCardPrice,
.checkoutCardBtn {
    position: absolute;
}

.checkoutCardPrice {
    position: absolute;
    bottom: 0%;
    left: 0.2%;

    font-size: 2.7vw;
    font-weight: 400;
    line-height: calc(33px / 1.33);
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.checkoutCardBtn {
    position: absolute;
    bottom: 0;
    right: 0;

    width: calc(80px / 1.33);
    height: calc(48px / 1.33);
    gap: 0px;
    border-radius: calc(30px / 1.33) calc(16px / 1.33);
    border: none;

    font-size: 24px;
    
}


.checkoutCardQuantityWrapper {
    width: 16vw;
    height: 5vh;
    gap: 0px;
    border-radius: 30px 0px 16px 0px;
    opacity: 0px;
    border: none;

    position: absolute;
    bottom: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.checkoutCardQuantityWrapper button {
    background-color: inherit;
    border: none;
    font-size: 30px;
}

.quantityCounter {
    font-size: 3.7vw;
    font-weight: 400;
    line-height: 99%;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

@media (max-width: 468px) {

    .checkoutCard{
        height: 120px;
    }

    .checkoutCardPicture {
        border-radius: 9px;
        width: 32vw;
        height: 100%;
    }

    .checkoutCardActionBtnsWrapper button:first-child {
        margin-right: 5px;
    }

    .checkoutCardMealName {
        font-size: 4vw;
        width: 90%;
    }

    .checkoutCardQuantityWrapper{
        width: 25vw;
        height: 38%;
    }

    .quantityCounter{
        font-size: 5vw;
    }
  }

