.checkoutCardNoteInputWrapper{
    margin-bottom: 0.6rem;
}

.checkoutCard {
    height: calc(198px / 1.33);
    max-width: 100%;
    border-radius: calc(16px / 1.33);
    border: 1px solid #D9D9D9;
    opacity: 0px;
    box-shadow: 1px 1px 10px 2px #0000001A;
    margin-bottom: 0.1rem;

    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 1.5rem;
    padding: 8px;
}

.checkoutCardPicture {
    border-radius: 1rem;
    width: calc(174px / 1.33);
    height: calc(174px / 1.33);
}

.checkoutCardActionBtnsWrapper {
    position: absolute;
    top: 5%;
    right: 2%;
    border-radius: calc(16px / 1.33);
}

.checkoutCardActionBtnsWrapper button {
    background-color: inherit;
    border: none;
}

.checkoutCardActionBtnsWrapper button:first-child {
    margin-right: 25px;
}

.checkoutCardInfoWrapper {
    flex-basis: 60%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 0.5rem 0;
    position: relative;
}

.checkoutCardMealName {
    font-size: calc(24px / 1.33);
    font-weight: 400;
    line-height: calc(34px / 1.33);
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.checkoutCardExtrasText {
    font-size: calc(16px / 1.33);
    font-weight: 274;
    line-height: calc(28px / 1.33);
    letter-spacing: -0.25999999046325684px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #5A5A5A;
}

.mealInfoWrapper p {
    text-transform: capitalize;

}

.mealInfoWrapper p:not(:last-child) {
    margin-bottom: 0.4rem;
}

.checkoutCard .checkoutCardPrice,
.checkoutCardBtn {
    position: absolute;
}

.checkoutCardPrice {
    position: absolute;
    bottom: 0%;
    left: 0%;

    font-size: calc(22px / 1.33);
    font-weight: 400;
    line-height: calc(33px / 1.33);
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.checkoutCardBtn {
    position: absolute;
    bottom: 0;
    right: 0;

    width: calc(80px / 1.33);
    height: calc(48px / 1.33);
    gap: 0px;
    border-radius: calc(30px / 1.33) calc(16px / 1.33);
    border: none;

    font-size: 24px;
    
}


.checkoutCardQuantityWrapper {
    width: calc(134px / 1.33);
    height: calc(58px / 1.33);
    gap: 0px;
    border-radius: 30px 0px 16px 0px;
    opacity: 0px;
    background-color: #CEDC00;
    border: none;

    position: absolute;
    bottom: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.checkoutCardQuantityWrapper button {
    background-color: inherit;
    border: none;
    font-size: 30px;
}

.quantityCounter {
    font-size: calc(28px / 1.33);
    font-weight: 400;
    line-height: calc(44.8px / 1.33);
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

