@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.cdnfonts.com/css/noteworthy");
@import url("https://db.onlinewebfonts.com/c/060fd297f19446447a9a1325ad5b889b?family=SF+Pro+Rounded");
@import url("https://v1.fontapi.ir/css/SFProDisplay");
/* font-family: "Raleway", sans-serif; */
/* font-family: "Dancing Script", cursive; */
/* font-family: "Plus Jakarta Sans", sans-serif; */
/* font-family: 'Noteworthy', sans-serif; */
/* font-family: 'SF Pro Display', sans-serif; */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --reset-size: 1.33;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-height: 100vh;
  overflow: hidden;
  background-color: #fafafa;
}

button {
  color: black;
}

/* .appWrapper {
  width: 800px;
  margin: 0 auto;
  border: 1px solid gray
} */

.fullScreenTablet {
  height: 100vh;
}

.fontDancing {
  font-family: "Dancing Script", cursive;
}

.fontRaleway {
  font-family: "Raleway", sans-serif;
}

.fontNoteworthy {
  font-family: "Noteworthy", sans-serif;
}

.fontSF {
  font-family: "SF Pro Display", sans-serif;
}

.fontSFRounded {
  font-family: "SF Pro Rounded";
}

h1 {
  color: white;
  font-size: 2rem;
}

.h1Wrapper {
  padding: 2rem 3rem;
}

.bottomRibbon {
  position: fixed;
  bottom: 3%;
  left: 0;
  right: 0;
  width: 90%;
  height: 85px;
  margin: 0 auto;
}

.bottomRibbonButton {
  line-height: 34px;
  font-size: 3vw;
  font-weight: 400;
  text-transform: capitalize;
  min-width: 100%;
  min-height: 80%;
  cursor: pointer;
  padding: 4%;
  outline: none;
  border: none;
  border-radius: 70px;
}

.hideScrollBar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hideScrollBar::-webkit-scrollbar {
  display: none;
}

.formStyles {
  display: flex;
  flex-direction: column;
  margin-top: 1vh;
}

.noteLabel {
  font-size: 2.2vw;
  font-weight: 400;
  padding-bottom: 0.5vh;
  font-family: "SF Pro Display", sans-serif;
}

.noteInput {
  box-shadow: 0px 1px 3px 0px #00000014;
  height: 4vh;
  padding: 1.3vh;
  border-radius: 8px;
  border: 1px solid;
  opacity: 0px;
  outline: none;
  font-size: 2vw;
  font-weight: 400;
  letter-spacing: 0.01em;
  font-family: "SF Pro Display", sans-serif;
}

.submitBtn {
  box-shadow: 0px 1px 3px 0px #00000014;
  height: 4vh;
  border-radius: 8px;
  border: 1px solid;
  outline: none;
  font-size: 2.5vw;
  font-weight: 400;
  letter-spacing: 0.01em;
  outline: none;
}

.biggerPageTitles {
  font-size: 5.5vw;
  font-weight: 500;
  letter-spacing: 0.01em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 2.5rem 0 1.5rem;
  text-transform: uppercase;
}

.bigestTitleHeading {
  font-size: 50px;
  font-weight: 400;
  line-height: 59.67px;
  text-align: center;
}

.pageTitleHeading {
  font-size: 40px;
  font-weight: 600;
}

.bottomRibbonHeadingBig {
  font-size: 46px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  letter-spacing: -2px;
}

.mediumSizeDimmedHeading {
  font-size: 36px;
  line-height: "42.26px";
  font-weight: 400;
  color: "#575559";
}

.optionNameHeading {
  font-size: 30px;
  font-weight: 600;
}

.productNameHeading {
  font-size: 24px;
  font-weight: 600;
}

img {
  max-width: 100%;
}

/* STRING SLIDER ANIMATION ON CARD */

.stringSlider {
  width: 126px;
  /* Set the width of the container */
  overflow: hidden;
  /* Hide overflowing content */
  white-space: nowrap;
  /* Prevent text from wrapping */
}

.slidingText {
  display: inline-block;
  animation: slide 12s linear infinite;
  /* Infinite sliding effect */
}

@keyframes slide {
  0% {
    transform: translateX(0%);
    /* Start from outside right */
  }

  100% {
    transform: translateX(-100%);
    /* Slide to outside left */
  }
}

.bottomRibbonBtnWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 100%;
}

.bottomRibbonDefaultBtn {
  min-width: 145px;
  height: 74px;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  border-radius: 8px;
  border: 1px solid white;
  padding: 12px 28px 12px 28px;
  background-color: inherit;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.bottomRibbonBtn {
  padding: 12px 28px 12px 28px;
  border-radius: 8px;
  border: 1px solid white;
  opacity: 0px;
  font-size: 26px;
  font-weight: 600;
  background-color: inherit;
}

.fullScreen {
  height: 100vh;
  width: 100%;
  position: relative;
}

/* .startScreen {
  background-image: url('../public/startBG.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  position: relative;
  border: 0.5px solid #00000014
} */

.startScreen .startBtn {
  font-size: 48px;
  min-height: 10vh;
}

/* LANG VIEW  */

/* ORDER VIEW */

.orderViewBottomRibon {
  height: 10vh;
}

.overlay {
  /* background: linear-gradient(180deg, rgba(37, 36, 36, 0.47) 0%, rgba(39, 37, 37, 0.47) 6.29%, rgba(39, 38, 38, 0.47) 12.58%, rgba(49, 49, 49, 0) 89.84%); */
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.47) 0%,
    rgba(0, 0, 0, 0.47) 16%,
    rgba(0, 0, 0, 0.376) 31.5%,
    rgba(0, 0, 0, 0.188) 100%
  );
  /* height: 100%; */
}

/* .greenRibbon {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f1f1f0;
} */

.categoryBtn:not(:last-child) {
  margin-bottom: 20px;
}

.orderSectionMainProductsListingContainer {
  flex-basis: 78%;
  display: flex;
  flex-direction: column;
}

.specialOfferDiv {
  background-color: #fff5f5;
  border: 2px solid green;
  flex-basis: 20%;
  border-radius: 11.7px;
  display: flex;
  justify-content: space-between;
  position: relative;
  font-weight: 600;
}

.specialOfferDiv button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 58.5px;
  height: 43.88px;
  border-radius: 25.01px 0px 13.34px 0px;
  border: none;
}

.mealCard p {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.mealCard button {
  position: relative;
  bottom: 0;
  right: 0;
  width: 50.25px;
  height: 38.99px;
  gap: 0px;
  border-radius: 25.99px 0px 13.86px 0px;
  opacity: 0px;
  border: 0.3px solid #d3d3d3;
}

.redTopTexture {
  background-image: url("../public/redTopTexture.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 392px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.redTopTexture .message {
  transform: rotate(-7.6deg);
  width: 55%;
  text-align: left;
  font-size: 64px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 90px;
  color: white;
}

.redTopTexture .extrasWrapper .smallMessage {
  width: 90%;
  text-align: left;
  font-size: 39px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 69px;
  color: white;
  text-align: center;
}

.redTopTexture .extrasWrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upgradeBtnsWrapper {
  width: 100%;
  margin-top: 4rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.upgradeBtnsWrapper button div {
  border: 1px solid #ced1d9;
  margin-bottom: 1rem;
}

.upgradeBtnsWrapper .topPicImage {
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
  margin-bottom: 0.8rem;
}

.upgradeBtnsWrapper .price {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.upgradeBottomRibbon div p {
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
}

.upgradeBottomRibbon div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.extrasWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  width: 90%;
  margin: 0 auto;
}

.extraBtn {
  position: relative;
  width: 222px;
  height: 250px;
  padding: 8px 12px 0px 12px;
  border-radius: 16px;
  opacity: 0px;
  border: 1px solid #d9d9d9;
  /* box-shadow: 0px 3.42px 9.13px -1.14px #3232470D; */

  box-shadow: 0px 0px 1.14px 0px #0c1a4b3d;
}

.extraBtn .extraBtnButton {
  width: 46px;
  height: 40px;
  border: 1px solid;
  position: absolute;
  bottom: 4%;
  right: 10px;
  border-radius: 5px;
  font-size: 24px;
}

.drinksBtnButton {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 66px;
  height: 50px;
  padding: 10px 18px 10px 18px;
  gap: 0px;
  border-radius: 34px 0px 16px 0px;
  opacity: 0px;
  border: none;
  background-color: #cedb00;
}

.drinksCardQuantityWrapper {
  width: 106px;
  height: 50px;
  padding: 8px 0px 0px 0px;
  gap: 9px;
  border-radius: 34px 0px 16px 0px;
  opacity: 0px;

  position: absolute;
  bottom: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  background-color: #cedb00;
}

.drinksCardQuantityWrapper button {
  background-color: inherit;
  border: none;
}

.drinksCardQuantityWrapper .minusIcon {
  width: 17.95px;
  height: 3.79px;
}

.checkoutCardBtn img {
  width: 20.95px;
  height: 20.79px;
  top: 8.85px;
  left: 8.91px;
  gap: 0px;
  opacity: 0px;
}

.checkoutCardQuantityWrapper button {
  background-color: inherit;

  width: 40px;
  height: 40px;
  gap: 0px;
  opacity: 0px;

  border: none;
}

.checkoutCardQuantityWrapper .icon {
  width: 24.95px;
  height: 24.79px;
  gap: 0px;
  opacity: 0px;
}

.checkoutCardQuantityWrapper .minusIcon {
  width: 24.95px;
  height: 5.79px;
  gap: 0px;
  opacity: 0px;
}

.modal {
  position: absolute;
  background-color: rgba(39, 38, 38, 0.605);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .modalScreen {
  width: 50%;
  margin: 0 auto;
  height: 250px;
  background-color: white;
  border: 1.51px solid;
  box-shadow: 1px 1px 15px 2px #f5f5f538;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalInnerWrapper p {
  font-size: 30px;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 700;
}

.modalBtnWrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.modalBtnWrapper button {
  width: 145px;
  height: 74px;
  padding: 12px 28px 12px 28px;
  gap: 8px;
  border-radius: 8px;
  border: 1px;
  opacity: 0px;
  font-size: 24px;
  margin-bottom: 2rem;
  font-weight: 600;
  background-color: inherit;
  border: 1.05px solid #cedb00;
}

.modalBtnWrapper button:first-child {
  background-color: #cedb00;
}

.paymentInfoWrapper {
  width: 740px;
  height: 237px;
  top: 176px;
  left: 30px;
  gap: 7.57px;
  border-radius: 8px;
  border: 1.51px solid #cedb00;
  opacity: 0px;
  margin: 0 auto;
  box-shadow: 1px 1px 15px 2px #cedc0026;

  padding: 1.5rem;
}

.paymentOrdersWrapper {
  min-height: 85%;
  overflow-y: scroll;
}

.elipse {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 801px) {
  .appWrapper,
  .startScreen {
    width: 100vw;
    border: none;
  }

  .langMenuBtn {
    flex-basis: 50%;
  }
}

@media (max-width: 425px) {
  .productNameHeading {
    font-size: 14px;
  }

  .startScreen .startBtn {
    font-size: 18px;
    min-height: 10vh;
  }

  .bottomRibbonDefaultBtn {
    min-width: auto;
    height: 44px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    border-radius: 8px;
    border: 1px solid white;
    padding: 6px 14px;
    font-family: "Plus Jakarta Sans", sans-serif;
  }
}
