.subTitle {
    font-size: 3vw;
    font-weight: 400;
    line-height: calc(47.73px / 1.33);
    letter-spacing: 0.01em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.midSection {
    text-align: center;
    padding-top: 6rem;
}

.qrCode {
    
    width: 50%;
    margin: 5vh auto;
    background-color: inherit;

    --s: 100px;
    /* the size on the corner */
    --t: 10px;
    /* the thickness of the border */
    --g: 10%;
    /* the gap between the border and image */

    padding: calc(var(--g) + var(--t));
    outline-offset: calc(-1*var(--t));
    mask:
        conic-gradient(at var(--s) var(--s), #00000000 75%, #000 0) 0 0/calc(100% - var(--s)) calc(100% - var(--s)),
        linear-gradient(#000 0 0) content-box;
    transition: .4s;
}

@media (max-width: 801px){
    .subTitle {
        font-size: 4vw;
    
    }
}