.paymentView {
    height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 4rem;
}

.paymentInfoWrapper {
    width: 95%;
    height: 240px;
    border-radius: 8px;
    border: 1.51px solid;
    opacity: 0px;
    margin: 2rem auto;
    box-shadow: 1px 1px 15px 2px #CEDC0026;

    padding: 1.5rem;
}

.paymentOrdersWrapper {
    height: 80%;
    overflow-y: scroll;
}

.totalWrapper {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.midSection {
    text-align: center;
    padding-top: 4rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.paymentOrdersWrapper::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.paymentOrdersWrapper {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


.qrCode {

    width: 50%;
    margin: 0 auto;
    font-size: 140px;
    font-weight: 600;
    background-color: inherit;

    --s: 100px;
    /* the size on the corner */
    --t: 10px;
    /* the thickness of the border */
    --g: 10%;
    /* the gap between the border and image */

    padding: calc(var(--g) + var(--t));
    outline-offset: calc(-1*var(--t));
    mask:
        conic-gradient(at var(--s) var(--s), #00000000 75%, #000 0) 0 0/calc(100% - var(--s)) calc(100% - var(--s)),
        linear-gradient(#000 0 0) content-box;
    transition: .4s;
}