
.stepCounter {
    position: absolute;
    bottom: 0px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 10%;
    font-size: 3.5vw;
    font-weight: 600;
    letter-spacing: -0.2vw; 
}

.subtitle {
    text-align: center;
    font-size: 5vw;
    font-weight: 400;
    margin: 5vh 0 1vh;
    font-family: var(--custom-font);
    letter-spacing: -1.8px;
}

.maxSelectionInfo{
    width: 85%;
    margin: 0 auto 4vh;
    font-size: 2.8vw;
    font-weight: 274;
    font-family: var(--custom-font);
    letter-spacing: -1.8px;
    text-align: center;
    color: #5A5A5A;
}

.optionsWrapper {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 equal columns */
    gap: 20px;
    /* space between grid items */
    overflow-y: scroll;
    padding: 1%;
}

.stepCounterOnRibbon{
    
    font-size: 3.5vw;
    font-weight: 800;
    letter-spacing: -3.2px;
    font-family: var(--custom-font);
}


@media(max-width:425px){

    .topContent{
        height: 20vh;
    }

    .optionsWrapper {
        width: 85%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        overflow-y: scroll;
        height: 40vh;
    }

    
}
