.swiperSlide {
    position: relative;
    min-height: 100%;
    padding: 2.5vw;
    border-radius: 1.9vw;
    color: rgb(255, 255, 255);
    background-color: #FFE4B7;
}

.slideTitle{
    font-size: 5.5vw;
}

.productName{
    font-size: 2.6vw;

}

.productPrice{
    position: absolute;
    bottom: 5%;
    left: 4%;
    font-size: 2.6vw;

}

.image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 45%;
    object-fit: cover;
    object-position: center;
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;

    
}

.Btn{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 58px;
    height: 50px;
    border-radius: 15px 0 16px;
    border: 0;
}


@media(max-width: 425px){

    .slideTitle{
        font-size: 5.5vw;
    }
    
    .productName{
        font-size: 4vw;
    
    }
    
    .productPrice{
        font-size: 3.6vw;
    
    }
    
    .image {
        position: absolute;
        top: 5%;
        right: 4%;
        width: 35%;
        border-radius: 1vw;
        box-shadow: 0px 0px 5px 10px #7575750f;
        
    }

    .Btn{
        width: 23%;
        height: 25%;
    }
}